APP_NAME=MindCare
APP_ENV=production
APP_DEBUG=false
APP_URL=https://SEU-DOMINIO.AQUI
APP_KEY=base64:WKmwIxHoRLnEah5z8n9s3OHAh56EBnVwo2a+q25iPTY=
APP_TIMEZONE=UTC
APP_LOCALE=pt
APP_FALLBACK_LOCALE=pt
FAKER_LOCALE=pt_PT

DB_CONNECTION=mysql
DB_HOST=NOVO_HOST_MYSQL
DB_PORT=3306
DB_DATABASE=mindcare
DB_USERNAME=mindcare_user
DB_PASSWORD=SUA_SENHA_FORTE

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=mindcare_portal_session
SESSION_DOMAIN=.SEU-DOMINIO.AQUI

CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_HOST=SEU_SMTP_HOST
MAIL_PORT=587
MAIL_USERNAME=SEU_SMTP_USER
MAIL_PASSWORD=SUA_SMTP_SENHA
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@SEU-DOMINIO.AQUI"
MAIL_FROM_NAME="MindCare"

GEMINI_API_KEY=
OLLAMA_URL=
OLLAMA_MODEL=gpt-oss:120b
OLLAMA_API_KEY=

CHATBOT_DRIVER=ollama
